* { 
    margin: 0; 
    padding: 0; 
}

@font-face {
    font-family: Mad_Hacker;
    src: url(Mad_Hacker_Italic.otf);
}

:root{
    --text_color:rgb(240, 240, 240);
    --t_background: #00000040;
    --t_h_background: #33005f90;
    --t_border: #00000060;
}

body {
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: var(--text_color);
}

#header{
    width: 100%;
    border-bottom: 3px solid #00000040;
}

    #header_img{
        display: inline-block;
        width: 300px;
    }

        #header_img img{
            height: 70px;
        }

    #header_txt{
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 700px);
    }

        #header_txt p{
            text-transform: uppercase;
            text-align: center;
            line-height: 74px;
            font-family: Mad_Hacker;
            font-size: 42px;
        }

#main{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding:5px;   
}

    .itemlist {
        background-color: var(--t_background);
        border-radius: 15px;
        float: left;
        display: block;
        border-collapse: collapse;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .itemlist th {
        text-transform: uppercase;
        font-family: Mad_Hacker;
        font-size: 24px;
        padding: 5px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-color: var(--t_h_background);
    }

    .itemlist td {
        border-top: 2px solid var(--t_border);
        text-align: center;
    }

    .item_image {
        padding-left:4px;
        padding-top:4px;
        width:90px;
    }

        .item_image img {
            width:90px;
            border-radius: 12px;
        }

    .item_body {
        width: 280px;
    }

        .item_title {
            font-size: 22px;
        }

        .item_description {
            font-size: 14px;
        }

    .item_add {
        width: 40px;
    }

    .item_buttons {
        padding:3px;
    }

    .item_buttons img:first-child {
        margin-bottom: 5px;
    }

    /* Order portion */
    .orderlist {
            background-color: var(--t_background);
            border-radius: 15px;
            border-collapse: collapse;
            float: left;
            display: block;
        }

    .orderlist th {
        padding: 5px;
        border-bottom:3px solid var(--t_border);
        background-color: var(--t_h_background);
        /* width:300px; */
    }

    #order_title{
        text-transform: uppercase;
        font-family: Mad_Hacker;
        font-size: 24px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width:470px;
    }

    .orderlist td {
        font-size: 22px;
    }

    .ordercounter {
        text-align: center;
        padding: 0px 5px;
    }

    .orderimage {
        padding: 0px;
    }

    .orderimage img {
        margin-top:5px;
        margin-right: 5px;
        width:40px;
        border-radius: 8px;
    }

    .orderprice {
        width:100px;
        padding-right:5px;
        text-align: right;
    }

    .ordertotal {
        border-top: 2px solid var(--t_border);
        text-align: right;
        font-weight: normal;
    }

    #total_text{
        font-size: 10px;
    }

    #list_text{
        text-transform: uppercase;
        font-family: Mad_Hacker;
        font-size: 20px;
        border-top: 2px solid var(--t_border);
    }

    .ordertotalprice {
        border-top: 2px solid var(--t_border);
        text-align: right;
        font-weight: normal;
    }

    .coupontotal {
        background-color: var(--t_background);
        text-align: right;
        padding-right:5px;
        font-size: 18px !important;
    }

    .coupontotalprice {
        background-color: var(--t_background);
        text-align: right;
        padding-right:8px;
        font-size: 18px !important;
    }

#reload {
    text-align: center;
    padding:5px;
    border-top: 3px solid var(--t_border);
    background-color: var(--t_h_background);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#reload button{
    background-color: #ff5b5bc5;
    font-weight: bold;
    font-size: 16px;
    color:rgb(219, 219, 219);
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
}